I'll learn how to handle missing data without having to drop rows and columns using data on motor vehicle collisions released by New York City and published on the <b>NYC OpenData website</b>.
There is data on over 1.5 million collisions dating back to 2012, with additional data continuously added.

I'll work with an extract of the full data: Crashes from the year 2018.

The data has been modified form the original to fit this scenario.

In [20]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 999)
pd.set_option('display.max_rows', 900)
pd.set_option('display.max_colwidth', -1)

mvc = pd.read_csv(r"C:\Users\lumum\Documents\Data Projects\working-with-missing-data\nypd_mvc_2018.csv")

mvc.head(50)

,unique_key,date,time,borough,location,on_street,cross_street,off_street,pedestrians_injured,cyclist_injured,motorist_injured,total_injured,pedestrians_killed,cyclist_killed,motorist_killed,total_killed,vehicle_1,vehicle_2,vehicle_3,vehicle_4,vehicle_5,cause_vehicle_1,cause_vehicle_2,cause_vehicle_3,cause_vehicle_4,cause_vehicle_5
0,3869058,2018-03-23,21:40,MANHATTAN,"(40.742832, -74.00771)",WEST 15 STREET,10 AVENUE,NaN,0,0,0,0.0,0,0,0,0.0,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,Following Too Closely,Unspecified,NaN,NaN,NaN
1,3847947,2018-02-13,14:45,BROOKLYN,"(40.623714, -73.99314)",16 AVENUE,62 STREET,NaN,0,0,0,0.0,0,0,0,0.0,SPORT UTILITY / STATION WAGON,DS,NaN,NaN,NaN,Backing Unsafely,Unspecified,NaN,NaN,NaN
2,3914294,2018-06-04,0:00,NaN,"(40.591755, -73.9083)",BELT PARKWAY,NaN,NaN,0,0,1,1.0,0,0,0,0.0,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN,Following Too Closely,Unspecified,NaN,NaN,NaN
3,3915069,2018-06-05,6:36,QUEENS,"(40.73602, -73.87954)",GRAND AVENUE,VANLOON STREET,NaN,0,0,0,0.0,0,0,0,0.0,Sedan,Sedan,NaN,NaN,NaN,Glare,Passing Too Closely,NaN,NaN,NaN
4,3923123,2018-06-16,15:45,BRONX,"(40.884727, -73.89945)",NaN,NaN,208 WEST 238 STREET,0,0,0,0.0,0,0,0,0.0,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN,Turning Improperly,Unspecified,NaN,NaN,NaN
5,3987177,2018-09-14,11:50,NaN,"(40.785984, -73.95718)",EAST 93 STREET,NaN,NaN,0,0,0,0.0,0,0,0,0.0,Station Wagon/Sport Utility Vehicle,Box Truck,NaN,NaN,NaN,Driver Inattention/Distraction,Passing Too Closely,NaN,NaN,NaN
6,4008417,2018-10-19,11:00,QUEENS,"(40.731968, -73.923225)",54 AVENUE,44 STREET,NaN,0,0,0,0.0,0,0,0,0.0,Sedan,Sedan,NaN,NaN,NaN,Unspecified,Unspecified,NaN,NaN,NaN
7,3917518,2018-06-05,10:00,NaN,"(40.660114, -74.00191)",3 AVENUE,NaN,NaN,0,0,0,0.0,0,0,0,0.0,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,Unspecified,Unspecified,NaN,NaN,NaN
8,3953286,2018-08-03,22:30,QUEENS,"(40.666393, -73.75177)",NORTH CONDUIT AVENUE,225 STREET,NaN,0,0,3,3.0,0,0,0,0.0,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,Unspecified,Unspecified,NaN,NaN,NaN
9,3896388,2018-05-08,8:40,QUEENS,"(40.715763, -73.737755)",218 STREET,99 AVENUE,NaN,0,0,0,0.0,0,0,0,0.0,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN,Unspecified,NaN,NaN,NaN,NaN
10,3837567,2018-01-30,12:45,NaN,"(40.762234, -73.98987)",9 AVENUE,NaN,NaN,0,0,0,0.0,0,0,0,0.0,TK,PASSENGER VEHICLE,NaN,NaN,NaN,Other Vehicular,Other Vehicular,NaN,NaN,NaN
11,3833347,2018-01-22,9:00,BROOKLYN,"(40.682655, -73.910034)",BROADWAY,CHAUNCEY STREET,NaN,0,0,0,0.0,0,0,0,0.0,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN
12,3823082,2018-01-05,9:50,BROOKLYN,"(40.654797, -73.93943)",ALBANY AVENUE,LENOX ROAD,NaN,0,0,0,0.0,0,0,0,0.0,PICK-UP TRUCK,PASSENGER VEHICLE,NaN,NaN,NaN,Unspecified,Unspecified,NaN,NaN,NaN
13,3988544,2018-09-26,17:20,MANHATTAN,"(40.711746, -74.006996)",PARK ROW,BEEKMAN STREET,NaN,0,0,0,0.0,0,0,0,0.0,Sedan,NaN,NaN,NaN,NaN,Passing or Lane Usage Improper,Unspecified,NaN,NaN,NaN
14,4033506,2018-11-27,7:05,NaN,"(40.74233, -73.83764)",VAN WYCK EXPWY,NaN,NaN,0,0,0,0.0,0,0,0,0.0,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,Driver Inattention/Distraction,Unspecified,Unspecified,NaN,NaN
15,4038831,2018-12-05,15:58,MANHATTAN,"(40.772987, -73.98208)",COLUMBUS AVENUE,WEST 65 STREET,NaN,0,0,0,0.0,0,0,0,0.0,Sedan,Sedan,NaN,NaN,NaN,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN
16,4039194,2018-12-03,11:35,NaN,"(40.69024, -73.99437)",ATLANTIC AVENUE,NaN,NaN,0,0,0,0.0,0,0,0,0.0,Tractor Truck Diesel,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,Passing Too Closely,Oversized Vehicle,NaN,NaN,NaN
17,4016752,2018-11-08,10:05,QUEENS,"(40.66883, -73.793655)",133 AVENUE,INWOOD STREET,NaN,0,0,0,0.0,0,0,0,0.0,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN,View Obstructed/Limited,View Obstructed/Limited,NaN,NaN,NaN
18,3943171,2018-07-17,12:55,QUEENS,"(40.74124, -73.93617)",31 STREET,48 AVENUE,NaN,0,0,1,1.0,0,0,0,0.0,Pick-up Truck,Sedan,NaN,NaN,NaN,Driver Inattention/Distraction,Driver Inattention/Distraction,NaN,NaN,NaN
19,3844497,2018-02-11,4:05,NaN,"(40.658703, -73.854904)",BELT PARKWAY,NaN,NaN,0,0,2,2.0,0,0,0,0.0,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN,Pavement Slippery,NaN,NaN,NaN,NaN
20,3865942,2018-03-19,19:00,QUEENS,"(40.73251, -73.86827)",ELIOT AVENUE,QUEENS BOULEVARD,NaN,0,0,0,0.0,0,0,0,0.0,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN,Passing or Lane Usage Improper,Unspecified,NaN,NaN,NaN
21,4055177,2018-12-28,20:30,MANHATTAN,"(40.715584, -74.00304)",WORTH STREET,LAFAYETTE STREET,NaN,0,0,0,0.0,0,0,0,0.0,Sedan,NaN,NaN,NaN,NaN,Driver Inattention/Distraction,NaN,NaN,NaN,NaN
22,3951399,2018-07-30,17:50,QUEENS,"(40.689953, -73.826004)",LEFFERTS BOULEVARD,101 AVENUE,NaN,0,0,0,0.0,0,0,0,0.0,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,Turning Improperly,Unspecified,NaN,NaN,NaN
23,3861001,2018-03-08,17:01,BROOKLYN,"(40.631104, -73.9962)",56 STREET,13 AVENUE,NaN,0,0,0,0.0,0,0,0,0.0,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN
24,3933935,2018-07-03,12:20,NaN,"(40.728947, -73.92793)",BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,0,0,0,0.0,0,0,0,0.0,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN,Unspecified,Unspecified,NaN,NaN,NaN
25,3919744,2018-06-12,8:30,QUEENS,"(40.720966, -73.8429)",QUEENS BOULEVARD,71 ROAD,NaN,0,0,0,0.0,0,0,0,0.0,TK,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,Following Too Closely,Unspecified,NaN,NaN,NaN
26,3870367,2018-03-26,22:26,BROOKLYN,"(40.666798, -73.88693)",NaN,NaN,555 SCHENCK AVENUE,0,0,0,0.0,0,0,0,0.0,PASSENGER VEHICLE,NaN,NaN,NaN,NaN,Unspecified,NaN,NaN,NaN,NaN
27,3822285,2018-01-03,18:03,NaN,NaN,GRAND CENTRAL PARKWAY,NaN,NaN,0,0,0,0.0,0,0,0,0.0,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN
28,3916821,2018-06-08,13:00,NaN,"(40.570877, -74.16984)",RICHMOND AVENUE,NaN,NaN,0,0,2,2.0,0,0,0,0.0,Pick-up Truck,Sedan,NaN,NaN,NaN,Failure to Yield Right-of-Way,Unspecified,NaN,NaN,NaN
29,3966143,2018-08-21,7:20,STATEN ISLAND,"(40.611984, -74.110306)",NaN,NaN,345 LITTLE CLOVE ROAD,0,0,0,0.0,0,0,0,0.0,Sedan,Sedan,NaN,NaN,NaN,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN
30,3960576,2018-08-13,17:20,NaN,"(40.58823, -74.16637)",NaN,NaN,43 RICHMOND HILL ROAD,0,0,0,0.0,0,0,0,0.0,Sedan,NaN,NaN,NaN,NaN,Unspecified,NaN,NaN,NaN,NaN
31,3991965,2018-10-01,9:15,BROOKLYN,"(40.6884, -73.95118)",NOSTRAND AVENUE,GREENE AVENUE,NaN,0,0,0,0.0,0,0,0,0.0,Sedan,Box Truck,NaN,NaN,NaN,Passing Too Closely,Passing or Lane Usage Improper,NaN,NaN,NaN
32,4014647,2018-11-04,16:10,NaN,"(40.646515, -73.958115)",REGENT PLACE,NaN,NaN,1,0,0,1.0,0,0,0,0.0,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN
33,3900893,2018-05-11,19:10,NaN,"(40.539177, -74.19543)",RAMONA AVENUE,NaN,NaN,0,0,0,0.0,0,0,0,0.0,Sedan,Sedan,NaN,NaN,NaN,Failure to Yield Right-of-Way,Unspecified,NaN,NaN,NaN
34,3995399,2018-10-06,16:00,BRONX,"(40.855423, -73.88731)",NaN,NaN,607 EAST 187 STREET,0,0,0,0.0,0,0,0,0.0,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,Passing Too Closely,Unspecified,NaN,NaN,NaN
35,4050343,2018-12-22,12:53,BRONX,"(40.81651, -73.88987)",BARRETTO STREET,LAFAYETTE AVENUE,NaN,0,0,0,0.0,0,0,0,0.0,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,Unspecified,Unspecified,NaN,NaN,NaN
36,3862853,2018-03-13,11:30,BROOKLYN,"(40.64986, -74.01972)",1 AVENUE,51 STREET,NaN,0,0,0,0.0,0,0,0,0.0,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,Failure to Yield Right-of-Way,Unspecified,NaN,NaN,NaN
37,3859687,2018-03-09,8:15,NaN,"(40.716194, -73.996086)",BOWERY,CANAL STREET,NaN,0,0,0,0.0,0,0,0,0.0,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,Driver Inexperience,Unspecified,NaN,NaN,NaN
38,3935554,2018-07-05,12:32,BROOKLYN,"(40.61196, -73.96816)",OCEAN PARKWAY,AVENUE O,NaN,0,0,0,0.0,0,0,0,0.0,Pick-up Truck,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,Unspecified,Unspecified,NaN,NaN,NaN
39,3865878,2018-03-19,11:36,BROOKLYN,"(40.683807, -73.87161)",NaN,NaN,3362 FULTON STREET,0,0,0,0.0,0,0,0,0.0,PASSENGER VEHICLE,TK,NaN,NaN,NaN,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN
40,3843506,2018-02-05,5:50,NaN,"(40.80119, -73.93003)",FDR DRIVE,NaN,NaN,0,0,0,0.0,0,0,0,0.0,PICK-UP TRUCK,NaN,NaN,NaN,NaN,Unspecified,NaN,NaN,NaN,NaN
41,3898211,2018-05-07,19:37,BRONX,"(40.869495, -73.82619)",BARTOW AVENUE,COOP CITY BOULEVARD,NaN,1,0,0,1.0,0,0,0,0.0,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,Unspecified,NaN,NaN,NaN,NaN
42,3838853,2018-02-01,8:40,BROOKLYN,"(40.730328, -73.95293)",NaN,NaN,169 GREENPOINT AVENUE,0,0,0,0.0,0,0,0,0.0,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,Failure to Yield Right-of-Way,Unspecified,NaN,NaN,NaN
43,4007678,2018-10-25,12:55,STATEN ISLAND,"(40.580727, -74.0991)",HYLAN BOULEVARD,HULL AVENUE,NaN,0,0,0,0.0,0,0,0,0.0,Pick-up Truck,Sedan,NaN,NaN,NaN,Passing or Lane Usage Improper,Unspecified,NaN,NaN,NaN
44,3895627,2018-05-07,14:19,BROOKLYN,"(40.67613, -73.884865)",LIBERTY AVENUE,CLEVELAND STREET,NaN,0,0,0,0.0,0,0,0,0.0,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,Following Too Closely,Unspecified,NaN,NaN,NaN
45,3860604,2018-03-10,21:00,NaN,"(40.724907, -73.99233)",BOWERY,NaN,NaN,0,0,0,0.0,0,0,0,0.0,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN
46,3997604,2018-10-10,16:50,MANHATTAN,NaN,WEST 47 STREET,9 AVENUE,NaN,0,0,0,0.0,0,0,0,0.0,Bus,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,Unspecified,Unspecified,NaN,NaN,NaN
47,3967000,2018-08-23,18:35,STATEN ISLAND,"(40.608727, -74.08839)",NARROWS ROAD NORTH,TARGEE STREET,NaN,0,0,0,0.0,0,0,0,0.0,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN,Unspecified,Unspecified,NaN,NaN,NaN
48,3825629,2018-01-09,8:45,NaN,"(40.6993, -73.91361)",LINDEN STREET,NaN,NaN,0,0,0,0.0,0,0,0,0.0,TK,TK,NaN,NaN,NaN,Passing Too Closely,Unspecified,NaN,NaN,NaN
49,4036977,2018-11-18,18:19,QUEENS,"(40.605335, -73.75528)",MOTT AVENUE,BEACH CHANNEL DRIVE,NaN,0,0,0,0.0,0,0,0,0.0,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN

A summary of the columns and their data is below:
<ul>
    <li><b>unique_key</b>: A unique identifier for each collision.</li>
    <li><b>date, time</b>: Date and time of the collision.</li>
    <li><b>borough</b>: The borough, or area of New York City, where the collision occurred.</li>
    <li><b>location</b>: Latitude and longitude coordinates for the collision.</li>
    <li><b>on_street, cross_street, off_street</b>: Details of the street or intersection where the collision occurred.</li>
    <li><b>pedestrians_injured</b>: Number of pedestrians who were injured.</li>
    <li><b>cyclist_injured</b>: Number of people traveling on a bicycle who were injured.</li>
    <li><b>motorist_injured</b>: Number of people traveling in a vehicle who were injured.</li>
    <li><b>total_injured</b>: Total number of people injured.</li>
    <li><b>pedestrians_killed</b>: Number of pedestrians who were killed.</li>
    <li><b>cyclist_killed</b>: Number of people traveling on a bicycle who were killed.</li>
    <li><b>motorist_killed</b>: Number of people traveling in a vehicle who were killed.</li>
    <li><b>total_killed</b>: Total number of people killed.</li>
    <li><b>vehicle_1 through vehicle_5</b>: Type of each vehicle involved in the accident.</li>
    <li><b>cause_vehicle_1 through cause_vehicle_5</b>: Contributing factor for each vehicle in the accident.</li>
    </ul>

Counting missing values:

In [24]:
data = np.random.choice([1.0, np.nan], size=(3, 3), p=[.3, .7])
df = pd.DataFrame(data, columns=['A','B','C'])
print(df)

     A    B    C
0 NaN  NaN  NaN
1  1.0  1.0  1.0
2  1.0 NaN  NaN

Next, we can use the <b>DataFrame.isnull()</b> method to identify which values are null:

In [26]:
df.isnull()

       A      B      C
0  True   True   True
1  False  False  False
2  False  True   True

Then we can chain the result to <b>DataFrame.sum()</b> method to count the number of null values in each column:

In [29]:
df.isnull().sum()
#total null values in the dataframe

A    1
B    2
C    2
dtype: int64

Let's use this technique to count the null values in our data set.

In [31]:
import pandas as pd
mvc = pd.read_csv("nypd_mvc_2018.csv")

null_counts = mvc.isnull().sum()
printnull_counts

unique_key             0
date                   0
time                   0
borough                20646
location               3885
on_street              13961
cross_street           29249
off_street             44093
pedestrians_injured    0
cyclist_injured        0
motorist_injured       0
total_injured          1
pedestrians_killed     0
cyclist_killed         0
motorist_killed        0
total_killed           5
vehicle_1              355
vehicle_2              12262
vehicle_3              54352
vehicle_4              57158
vehicle_5              57681
cause_vehicle_1        175
cause_vehicle_2        8692
cause_vehicle_3        54134
cause_vehicle_4        57111
cause_vehicle_5        57671
dtype: int64